@model List<WenCay.Models.Function.CartItem>
<div class="cart">
    <a href="~/Cart/Index"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Giỏ hàng <span class="cart-quantity">@Model.Count</span></span></a>
</div>