
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Tiny -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../Content/asset/img/bg-img/24.jpg);">
            <h2>Checkout</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang Chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success">
        Bạn vừa mua hàng thành công.
    </div>

